<h1>
  Edit league #<%= @league.id %>
</h1>

<hr>

<form action="/update_league/<%= @league.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @league.name %>">
  </div>

  <div class="form-group">
    <label for="level">
      Level
    </label>

    <input type="text" id="level" name="level" class="form-control" value="<%= @league.level %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update league
  </button>
</form>

<hr>

<a href="/leagues">
  Go back
</a>
