<h1>
  Edit league #<%= @league.id %>
</h1>

<hr>

<!-- Form league start -->
<form action="/update_league/<%= @league.id %>" method="post">
<!-- Form league end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @league.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for level start -->
  <div class="form-group">
    <label for="level">
      Level
    </label>

    <!-- Input for level start -->
    <input type="text" id="level" name="level" class="form-control" value="<%= @league.level %>">
    <!-- Input for level end -->
  </div>
  <!-- Label and input for level end -->

  <button class="btn btn-block btn-outline-secondary">
    Update league
  </button>
</form>

<hr>

<a href="/leagues">
  Go back
</a>
