<form action="/create_player_from_club" method="post">

  <input type="hidden" name="club_id" value="<%= @club.id %>">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @player.name %>">
  </div>

  <div class="form-group">
    <label for="position">
      Position
    </label>

    <input type="text" id="position" name="position" class="form-control" value="<%= @player.position %>">
  </div>

  <div class="form-group">
    <label for="level">
      Level
    </label>

    <input type="text" id="level" name="level" class="form-control" value="<%= @player.level %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create player
  </button>
</form>
